<div class="footer mt-5">
    <hr>
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm">
                <h2>Client</h2>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a href="{% link devis.html %}">Devis</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% link contact.html %}">Contactez-nous</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% link mentionsLegales.html %}">Mentions légales</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% link accueil.html %}">Accueil</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm">
                <h2>En savoir plus</h2>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a href="{% link service1.html %}">Service 1</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% link service2.html %}">Service 2</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% link galerie.html %}">Galerie</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% link quiSommesNous.html %}">Qui sommes-nous&nbsp;?</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm">
                <h2>Suivez-nous</h2>
                <a href="#">
                    <span class="fa-stack">
                      <i class="fas fa-circle fa-stack-2x"></i>
                      <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                <a href="#">
                    <span class="fa-stack">
                      <i class="fas fa-circle fa-stack-2x"></i>
                      <i class="fab fa-linkedin-in fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                <a href="#">
                    <span class="fa-stack">
                      <i class="fas fa-circle fa-stack-2x"></i>
                      <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </div>
            <div class="col-sm">
                <h2>Demandez votre devis gratuit</h2>
                <p class="text-muted">Aucune carte de crédit demandée.</p>
                <a href="{% link devis.html %}" class="btn btn-primary btn-lg">J'obtiens mon devis</a>
            </div>
        </div>
        <div class="text-center text-muted mt-4 mb-3">
            <small>
                Site développé par <a href="{% link bhinternet.html %}" class="text-muted">BHInternet</a> en 2020
            </small>
        </div>
    </div>
</div>
