<!-- Footer-->
<footer class="section footer-classic context-dark bg-gray-700">
    <div class="footer-classic-top section-sm">
        <div class="container">
            <div class="row row-50">
                <div class="col-sm-6 col-lg-3"><a class="footer-logo" href="index.html"><img
                            src="./assets/images/logo.png" alt="" width="159" height="40" /></a>
                    <p>Ne vous inquiétez plus, grâce à nos services, chez Déménagement Pas cher 94 vous n'aurez plus à vous soucier de choisir la solution idéale. Nous proposons une gamme de formules et de services adaptés à toutes les situations. Alors n'hésitez plus et faites confiance à Déménagement Pas cher pour votre (vos) déménagement(s)!</p>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <h5 class="footer-title">Informations de contact</h5>
                    <ul class="list">
                        <li>{{site.address}}</li>
                        <li><a href="mailto:#">{{site.email}}</a></li>
                        <li><a href="tel:#">{{site.phone}}</a></li>
                    </ul>
                    <ul class="list">
                        <li><span>Mon-Thu:</span> 9:30 am - 6:00 pm
                        </li>
                        <li><span>Fri: </span> 9:30 am - 5:00 pm
                        </li>
                        <li><span>Sat: </span> 10:00 am - 3:00 pm
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <h5 class="footer-title">Liens rapides</h5>
                    <ul class="link-list list-sm">
                        <li><a href="index.html">Accueil</a></li>
                        <li><a href="about.html">À propos de nous </a></li>
                        <li><a href="services.html">Prestations de service </a></li>
                        <li><a href="devis.html">Devis </a></li>
                        <li><a href="contacts.html">Contacts </a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <h5 class="footer-title">Bulletin</h5>
                    <!-- RD Mailform-->
                    <form class="rd-mailform text-left" data-form-output="form-output-global"
                        data-form-type="contact" method="post" action="bat/rd-mailform.php">
                        <div class="form-wrap">
                            <label class="form-label" for="footer-email">Votre adresse email</label>
                            <input class="form-input" id="footer-email" type="email" name="email"
                                data-constraints="@Email @Required">
                        </div>
                        <div class="form-button">
                            <button class="button button-circle button-default-outline" type="submit">S'inscrire</button>
                        </div>
                    </form>
                    <p>Soyez le premier à découvrir les dernières actualités juridiques, mises à jour, astuces et autres informations.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <hr>
    </div>
    <div class="footer-classic-bottom">
        <div class="container">
            <div class="row row-30">
                <div class="col-md-9 order-md-1">
                    <p class="rights"><span>&copy;&nbsp; </span><span
                            class="copyright"></span><span>&nbsp;</span><span>BHInternet</span><span>.&nbsp;</span><span>2020
                            </span><span>.&nbsp;</span><a href="#"></a></p>
                </div>
                <div class="col-md-3 order-md-2 text-md-right">
                    <ul class="list-inline list-inline-sm social-list">
                        <li class="list-inline-item"><a class="icon fa-linkedin" href="#"></a></li>
                        <li class="list-inline-item"><a class="icon fa-twitter" href="#"></a></li>
                        <li class="list-inline-item"><a class="icon fa-facebook-f" href="#"></a></li>
                        <li class="list-inline-item"><a class="icon fa-instagram" href="#"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="snackbars" id="form-output-global"></div>
<script src="./assets/js/core.min.js"></script>
<script src="./assets/js/script.js"></script>

<!--LIVEDEMO_00 -->