<!-- Footer-->
<footer class="section footer-classic context-dark bg-gray-700">
    <div class="footer-classic-top section-sm">
        <div class="container">
            <div class="row row-50">
                <div class="col-sm-6 col-lg-4 text-justify"><a class="footer-logo" href="index.html"><img
                            src="./assets/images/logo.png" alt="" width="159" height="40" /></a>
                    <p>  
                        Ne vous inquiétez plus, grâce à nos services, chez Good Déménagement vous n'aurez plus à vous soucier
                        de choisir la solution idéale. Nous proposons une gamme de formules et de services adaptés à toutes 
                        les situations. Alors n'hésitez plus et faites nous confiance pour votre (vos) déménagement(s)!

                    </p>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <h5 class="footer-title front-title">Informations de contact</h5>
                    <ul class="list">
                        <li>{{site.address}}</li>
                        <li><a href="mailto:#">{{site.email}}</a></li>
                        <li><a href="tel:#">{{site.phone}}</a></li>
                    </ul>
                    <ul class="list">
                        <li><span>Lundi-Vendredi: </span> 9.00h - 16:00h
                        </li>
                       
                    </ul>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <h5 class="footer-title front-title">Liens rapides</h5>
                    <ul class="link-list list-sm">
                        <li><a href="index.html">Accueil</a></li>
                        <li><a href="nos-formules.html">Nos formules</a></li>
                        <li><a href="notre-entreprise.html">Notre entreprise </a></li>
                        <li><a href="devis.html">Devis en ligne </a></li>
                        <li><a href="contacts.html">Contact </a></li>
                        <li><a href="zone-d-intervention.html">Zone d'intervention </a></li>
                    </ul>
                </div>
               
            </div>
        </div>
    </div>
    <div class="container">
        <hr>
    </div>
    <div class="footer-classic-bottom">
        <div class="container">
            <div class="row row-30">
                <div class="col-md-9 order-md-1">
                    <p class="rights"><span>&copy;&nbsp; </span><span
                            class="copyright"></span><span>&nbsp;</span><span>BHInternet</span><span>.&nbsp;</span><span>2020
                            </span><span>.&nbsp;</span><a href="#"></a></p>
                </div>
                <div class="col-md-3 order-md-2 text-md-right">
                    <ul class="list-inline list-inline-sm social-list">
                        <li class="list-inline-item"><a class="icon fa-linkedin" href="#"></a></li>
                        <li class="list-inline-item"><a class="icon fa-twitter" href="#"></a></li>
                        <li class="list-inline-item"><a class="icon fa-facebook-f" href="#"></a></li>
                        <li class="list-inline-item"><a class="icon fa-instagram" href="#"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
   
</footer>

<div href="#" id="phone-global" class="phone-global active"><i class="fa fa-phone"></i>  {{site.phone}}</div>
<div class="snackbars" id="form-output-global"></div>
<script src="./assets/js/core.min.js"></script>
<script src="./assets/js/script.js"></script>

<!--LIVEDEMO_00 -->