---
layout: default
permalink: /about
---
<div class="page">
    
    {% include navbarOther.html %}
    <section class="breadcrumbs-custom bg-image context-dark"
        style="background-image: url(./assets/images/demenagement.jpg);">
        <div class="container">
            <h4 class="breadcrumbs-custom-title">Notre entreprise</h4>
            <ul class="breadcrumbs-custom-path">
                <li><a href="index.html">Accueil</a></li>
                <li class="active">Notre entreprise</li>
            </ul>
        </div>
    </section>
    <section class="bg-default section-md section-relative">
        <div class="container">
            <div class="row row-30">
                <div class="col-md-5 col-lg-4">
                    <div class="section-title section-title-left">
                        <h2 class="text-capitalize">Notre entreprise 
                        </h2>
                    </div>
                </div>
                <div class="col-md-7 col-lg-8 pt-md-5">
                    <p>L’entreprise Déménagement Pas Cher vous propose des déménagements adaptés aux petits budgets qui ne veulent payés que le nécessaire. Nous proposons des déménagements pour les particuliers mais aussi pour les entreprises. Besoin d’informations complémentaires ? Nos équipes sont à votre disposition du lundi au vendredi de 8h à 20h.</p>
                    <div class="text-center mt-4">
                        <a class="button  button-primary text-white" href="contact.html">Nous contacter</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="parallax-container" data-parallax-img="./assets/images/parallax-img-3.jpg">
        <div class="parallax-content section-md context-dark text-center bg-gray-700-filter-85">
            <div class="container">
                <div class="row row-50 justify-content-center">
                    <div class="col-12 col-lg-11">
                        <div class="section-title">
                            <h2 class="front-title">Notre stratégie</h2>
                            <p>Nos clients ont toujours été satisfaits de nos services, faites-nous confiance vous aussi.</p>
                        </div>
                    </div>
                    <div class="col-12">
                        <!-- Owl Carousel-->
                        <div class="owl-carousel" data-items="1" data-lg-items="3" data-dots="true" data-nav="false"
                            data-stage-padding="15" data-loop="false" data-margin="30" data-mouse-drag="false">
                            <div class="block-numbers">
                                <div class="numb">
                                    <p class="heading-1">01</p>
                                </div>
                                <h4 class="block-title front-title">QUALITE</h4>
                                <div class="block-numbers-text">
                                    <p>C’est un élément essentiel pour un déménagement sans problèmes!.</p>
                                </div>
                            </div>
                            <div class="block-numbers">
                                <div class="numb">
                                    <p class="heading-1">02</p>
                                </div>
                                <h4 class="block-title front-title">RENTABILITE</h4>
                                <div class="block-numbers-text">
                                    <p>Parce qu’un déménagement ne doit pas ruiner, faites appel à Déménagement Pas Cher.</p>
                                </div>
                            </div>
                            <div class="block-numbers">
                                <div class="numb">
                                    <p class="heading-1">03</p>
                                </div>
                                <h4 class="block-title front-title">DISPONIBILITE</h4>
                                <div class="block-numbers-text">
                                    <p>Nos équipes sont à votre écoute au
                                        {{site.phone}}.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-default section-md">
        <div class="container">
            <div class="section-title text-center">
                <h3>Pourquoi payer plus?</h3>
                <p>Grâce à nos 15 années d’expérience dans le domaine du déménagement nous sommes capable d’effectuer des déménagements de qualité. Nous sommes basés en Essonne, mais nous intervenons dans la France entière!</p>
            </div>
            <div class="row row-30">
                <div class="col-sm-6 col-lg-6">
                    <div class="block-icon-modern">
                        <div class="icon-figure"><span class="icon icon-xl thin-icon-car"></span></div>
                        <div class="block-icon-caption">
                            <h4 class="block-icon-title"><a href="#">Un déménagement de qualité fait par des professionnels</a>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-6">
                    <div class="block-icon-modern">
                        <div class="icon-figure"><span class="icon icon-xl thin-icon-briefcase-2"></span></div>
                        <div class="block-icon-caption">
                            <h4 class="block-icon-title"><a href="#">Des équipes motivées et opérationnelles</a></h4>
                            
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-6">
                    <div class="block-icon-modern">
                        <div class="icon-figure"><span class="icon icon-xl thin-icon-home"></span></div>
                        <div class="block-icon-caption">
                            <h4 class="block-icon-title"><a href="#">De nombreuses années d’expérience qui nous permettent d’être leader sur le marché</a></h4>
                            
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-6">
                    <div class="block-icon-modern">
                        <div class="icon-figure"><span class="icon icon-xl thin-icon-love"></span></div>
                        <div class="block-icon-caption">
                            <h4 class="block-icon-title"><a href="#">Nous sommes en capacité de vous fournir tout le matériel nécessaire à votre déménagement</a></h4>
                            
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-12">
                    <div class="block-icon-modern">
                        <div class="icon-figure"><span class="icon icon-xl thin-icon-mobile"></span></div>
                        <div class="block-icon-caption">
                            <h4 class="block-icon-title"><a href="single-service.html">Une hésitation ? Contactez notre équipe au 06 72 16 76 34</a></h4>
                            
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>

   

    {% include footer.html %}
</div>
    