---
layout: default
permalink: /accessoires
---
<div class="page">
    {% include navbarOther.html %}

    <section class="breadcrumbs-custom bg-image context-dark"
        style="background-image: url(./assets/images/breadcrumbs-bg.jpg);">
        <div class="container">
            <h4 class="breadcrumbs-custom-title">Notre entreprise</h4>
            <ul class="breadcrumbs-custom-path">
                <li><a href="index.html">Accueil</a></li>
                <li class="active">Notre entreprise</li>
            </ul>
        </div>
    </section>

    <section class="bg-default section-md text-center">
        <div class="container">
            <div class="row row-50 justify-content-center">
                <div class="col-12 col-lg-11">
                    <div class="section-title">
                        <h2>Certains de nos accessoires</h2>
                        <p>We value our team members, their intellect and decision-making characters. We are proud
                            we managed to gather smart, talented and client-oriented staff, and we are happy to
                            introduce them to our clients!</p>
                    </div>
                </div>
                <div class="col-12">
                    <!-- Owl Carousel-->
                    <div class="row">
                        
                                <div class="owl-item active" style="width: 360px; margin-right: 30px;">
                                    <div class="team-block"><img src="./assets/images/team-1-370x473.jpg" alt="" width="370"
                                            height="473">
                                        <div class="team-block-caption">
                                            <h4 class="team-title">Ann Smith</h4>
                                            <div class="team-block-text">
                                                <p>Cras adipiscing enim eu turpis egestas pretium aenean pharetra
                                                    magna. Est ante </p>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 360px; margin-right: 30px;">
                                    <div class="team-block"><img src="./assets/images/team-1-370x473.jpg" alt="" width="370"
                                            height="473">
                                        <div class="team-block-caption">
                                            <h4 class="team-title">John Smith</h4>
                                            <div class="team-block-text">
                                                <p>Aenean pharetra magna ac placerat vestibulum. Ipsum suspendisse
                                                    ultrices gravida </p>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 360px; margin-right: 30px;">
                                    <div class="team-block"><img src="./assets/images/team-1-370x473.jpg" alt="" width="370"
                                            height="473">
                                        <div class="team-block-caption">
                                            <h4 class="team-title">Kate Smith</h4>
                                            <div class="team-block-text">
                                                <p>Diam ut venenatis tellus in metus vulputate. Magnis dis
                                                    parturient montes nascetur</p>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                    </div>


                            
                
                </div>
            </div>
        </div>
    </section>

    {% include footer.html %}
</div>
  