---
layout: default
permalink: /accessoires
---
<div class="page">
    {% include navbarOther.html %}

    <section class="breadcrumbs-custom bg-image context-dark"
        style="background-image: url(./assets/images/demenagement.jpg);">
        <div class="container">
            <h4 class="breadcrumbs-custom-title">Notre entreprise</h4>
            <ul class="breadcrumbs-custom-path">
                <li><a href="index.html">Accueil</a></li>
                <li class="active">Notre entreprise</li>
            </ul>
        </div>
    </section>

    <section class="bg-default section-md text-center">
        <div class="container">
            <div class="row row-50 justify-content-center">
                <div class="col-12 col-lg-11">
                    <div class="section-title">
                        <h2>Accessoires</h2>
                    </div>
                </div>
                <div class="col-12">
                    <!-- Owl Carousel-->
                    <div class="row">
                        
                        <div class="owl-item active" style="width: 360px; margin-right: 30px;">
                            <div class="team-block"><img src="./assets/images/scotch.jpg" alt="" width="370"
                                    height="473">
                                <div class="team-block-caption">
                                    <h4 class="team-title">Scotch Déménagement </h4>
                                    <div class="team-block-text">
                                        <p class="mt-2">
                                            <span class="price">2€</span>
                                        </p>
                                        <button class="btn-plus mt-5"><i class="fa fa-plus"></i></button>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="owl-item active" style="width: 360px; margin-right: 30px;">
                            <div class="team-block"><img src="./assets/images/carton-verre.jpg" alt="" width="370"
                                    height="473">
                                <div class="team-block-caption">
                                    
                                    <h4 class="team-title">Carton Pour Verres</h4>
                                    <div class="team-block-text">
                                        <p class="mt-2">
                                            <span class="price">14€</span>
                                        </p>
                                        <button class="btn-plus mt-5"><i class="fa fa-plus"></i></button>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="owl-item active" style="width: 360px; margin-right: 30px;">
                            <div class="team-block"><img src="./assets/images/caron-assiette.jpg" alt="" width="370"
                                    height="473">
                                <div class="team-block-caption">
                                    <h4 class="team-title">Carton Pour Assiettes </h4>
                                    <div class="team-block-text">
                                        <p class="mt-2">
                                            <span class="price">14€</span>
                                        </p>
                                        <button class="btn-plus mt-5"><i class="fa fa-plus"></i></button>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="owl-item active" style="width: 360px; margin-right: 30px;">
                            <div class="team-block"><img src="./assets/images/carton-penderie.jpg" alt="" width="370"
                                    height="473">
                                <div class="team-block-caption">
                                    <h4 class="team-title">Kate Smith</h4>
                                    <div class="team-block-text">
                                        <p>Diam ut venenatis tellus in metus vulputate. Magnis dis
                                            parturient montes nascetur</p>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="owl-item active" style="width: 360px; margin-right: 30px;">
                            <div class="team-block"><img src="./assets/images/carton-tableau.jpg" alt="" width="370"
                                    height="473">
                                <div class="team-block-caption">
                                    <h4 class="team-title">Kate Smith</h4>
                                    <div class="team-block-text">
                                        <p>Diam ut venenatis tellus in metus vulputate. Magnis dis
                                            parturient montes nascetur</p>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="owl-item active" style="width: 360px; margin-right: 30px;">
                            <div class="team-block"><img src="./assets/images/carton-verre.jpg" alt="" width="370"
                                    height="473">
                                <div class="team-block-caption">
                                    <h4 class="team-title">Kate Smith</h4>
                                    <div class="team-block-text">
                                        <p>Diam ut venenatis tellus in metus vulputate. Magnis dis
                                            parturient montes nascetur</p>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    {% include footer.html %}
</div>
  