---
layout: default
permalink: /monte-meubles
---

<div class="page">
    {% include navbarOther.html %}
    <section class="breadcrumbs-custom bg-image context-dark"
        style="background-image: url(./assets/images/demenagement.jpg);">
        <div class="container">
            <h4 class="breadcrumbs-custom-title">Monte-Meubles</h4>
            <ul class="breadcrumbs-custom-path">
                <li><a href="index.html">Accueil</a></li>
                <li class="active">monte-meubles</li>
            </ul>
        </div>
    </section>

    <section class="bg-default section-md">
        <div class="container">
            <div class="section-title text-center">
                <h2>Nos formules pour monter vos meubles</h2>
                <p>
                    Si vous avez besoin d'aide pour votre déménagement nos formules sont les plus adaptées.
                    N'hésitez pas à nous solliciter pour tous besoins en matériels (Scotch, cartons, papiers
                    bulles...)

                    Les prix conclus entre les deux parties pour la mise à disposition du matériel conclus la
                    prestation dans un rayon de 10 km autour de Paris (au-delà des 10 km, supplément kilométrique).
                    Les monte-meubles mis à disposition seront adaptés aux besoins du client, de l'échelle
                    emboitable pour les petits accès, à l'autoportée de 33 mètres sur camion. De 200 kg à 400 kg
                    chargent utile.
                </p>
            </div>

        </div>
    </section>

    <section class="section section-md bg-default">
        <div class="container-fluid grid-demo grid-demo-bordered">
            <div class="row">
                <div class="col-4">
                  
                    <div class="container text-center">

                        <h3><span>1<sup>er</sup></span>&nbsp;<i class="fa fa-long-arrow-right"
                            aria-hidden="true"></i>&nbsp;<span>6<sup>eme</sup>&nbsp;(Etg)</span>
                        </h3>
                        <h4 class="text-capitalize">Forfait horaire</h4>
                        <ul class="list-marked">
                            <li>1/2 journée<i class="fa fa-long-arrow-right" aria-hidden="true"></i>230€ <sup>TTC</sup></li>
                            <li>1 journée<i class="fa fa-long-arrow-right" aria-hidden="true"></i>375€ <sup>TTC</sup></li>
                                <li>Heure supplémentaire<i class="fa fa-long-arrow-right" aria-hidden="true"></i>100€ <sup>TTC</sup></li>
                            <li>Stationnement<i class="fa fa-long-arrow-right" aria-hidden="true"></i>50€ <sup>TTC</sup></li>
                        </ul>
                        <div class="mt-4 text-center">
                            <a class="button  button-primary" href="devis.html">Devis en ligne</a>
                        </div>
                        

                    </div>
                </div>
                <div class="col-4">
                   
                    <div class="container text-center">

                        <h3> <span>A partir du 6ème étage</span></h3>
                        <h4 class="text-capitalize">Forfait horaire</h4>
                        <ul class="list-marked">
                            <li>1/2 journée<i class="fa fa-long-arrow-right" aria-hidden="true"></i>320€ <sup>TTC</sup></li>
                            <li>1 journée<i class="fa fa-long-arrow-right" aria-hidden="true"></i>490€ <sup>TTC</sup></li>
                            <li>Heure supplémentaire<i class="fa fa-long-arrow-right" aria-hidden="true"></i>100€ <sup>TTC</sup></li>
                            <li>Stationnement<i class="fa fa-long-arrow-right" aria-hidden="true"></i>50€ <sup>TTC</sup></li>
                            <li>+ 36€ TTC par étage supplémentaire</li>
                        </ul>
                        <div class="mt-4 text-center">
                            <a class="button  button-primary" href="devis.html">Devis en ligne</a>
                        </div>

                    </div>
                </div>
                <div class="col-4">
                   
                    <div class="container text-center">

                        <h3><i class="fa fa-exchange" aria-hidden="true"></i></h3>
                        <h4 class="text-capitalize">Forfait Passage</h4>
                        <h3 class="price">
                            145€ <sup>TTC</sup>
                        </h3>
                        
                        <div class="mt-4 text-center">
                            <a class="button  button-primary" href="devis.html">Devis en ligne</a>
                        </div>


                    </div>
                </div>
            </div>

        </div>
    </section>
    
    <!-- Footer-->
    {% include footer.html %}
</div>
    