---
layout: default
permalink: /monte-meubles
---

<div class="page">
    {% include navbarOther.html %}
    <section class="breadcrumbs-custom bg-image context-dark"
        style="background-image: url(./assets/images/demenagement.jpg);">
        <div class="container">
            <h4 class="breadcrumbs-custom-title">Monte-Meubles</h4>
            <ul class="breadcrumbs-custom-path">
                <li><a href="index.html">Accueil</a></li>
                <li class="active">monte-meubles</li>
            </ul>
        </div>
    </section>

    <section class="bg-default section-md">
        <div class="container">
            <div class="section-title text-center">
                <h2>Nos formules pour monter vos meubles</h2>
                <p>
                    Si vous avez besoin d'aide pour votre déménagement nos formules sont les plus adaptées.
                    N'hésitez pas à nous solliciter pour tous besoins en matériels (Scotch, cartons, papiers
                    bulles...)

                    Les prix conclus entre les deux parties pour la mise à disposition du matériel conclus la
                    prestation dans un rayon de 10 km autour de Paris (au-delà des 10 km, supplément kilométrique).
                    Les monte-meubles mis à disposition seront adaptés aux besoins du client, de l'échelle
                    emboitable pour les petits accès, à l'autoportée de 33 mètres sur camion. De 200 kg à 400 kg
                    chargent utile.
                </p>
            </div>

        </div>
    </section>

    <section class="section section-md bg-default">
        <div class="container-fluid grid-demo grid-demo-bordered">
            <div class="row">
                <div class="col-4">
                  
                    <div class="container text-center">
                        
                        <div class="pricing-price">
                            <h4>PASSAGE </h4>
                            <h3 class="pricing-amount">120€ TTC</h3>
                            <h5  class="pricing-per">Le passage</h5>
                        </div>
                           
                        <ul class="list-marked">
                            <li>1 ARTICLE</li>
                            <li>DU 1er AU 6e ÉTAGE</li>
                            <li> À PARTIR DU 7e ÉTAGE : <b>SUR DEVIS</b></li>
                            
                        </ul>

                        <div class="mt-4 text-center">
                            <a class="button  button-primary" href="devis.html">Devis en ligne</a>
                        </div>
                        
                    </div>
                </div>

                <div class="col-4">
                  
                    <div class="container text-center">

                        <div class="pricing-price">
                            <h4>JOURNÉE </h4>
                            <h3 class="pricing-amount">350€ TTC</h3>
                            <h5  class="pricing-per">La journée</h5>
                        </div>
                           
                        <ul class="list-marked">
                            <li>8 HEURES</li>
                            <li> DU 1er AU 6e ÉTAGE</li>
                            <li> À PARTIR DU 7e ÉTAGE : <b>SUR DEVIS</b></li>
                            
                        </ul>

                        <div class="mt-4 text-center">
                            <a class="button  button-primary" href="devis.html">Devis en ligne</a>
                        </div>
                        
                    </div>
                </div>
              
                <div class="col-4">
                  
                    <div class="container text-center">

                        <div class="pricing-price">
                            <h4>DEMI-JOURNÉE </h4>
                            <h3 class="pricing-amount">220€ TTC</h3>
                            <h5  class="pricing-per">La 1/2 journée</h5>
                        </div>
                           
                        <ul class="list-marked">
                            <li>4 HEURES</li>
                            <li> DU 1er AU 6e ÉTAGE</li>
                            <li>  À PARTIR DU 7e ÉTAGE : <b>SUR DEVIS</b></li>
                            
                        </ul>

                        <div class="mt-4 text-center">
                            <a class="button  button-primary" href="devis.html">Devis en ligne</a>
                        </div>                     

                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Footer-->
    {% include footer.html %}
</div>
    