---
layout: default
permalink: /nos-formules
---

    <div class="page">
        {% include navbarOther.html %}

        <section class="breadcrumbs-custom bg-image context-dark"
            style="background-image: url(./assets/images/demenagement.jpg);">
            <div class="container">
                <h4 class="breadcrumbs-custom-title">Notre entreprise</h4>
                <ul class="breadcrumbs-custom-path">
                    <li><a href="index.html">Accueil</a></li>
                    <li class="active">Notre entreprise</li>
                </ul>
            </div>
        </section>
        <section class="bg-default section-md section-relative">
            <div class="container">
                <div class="row row-30">
                    <div class="col-md-5 col-lg-4">
                        <div class="section-title section-title-left">
                            <h2 class="text-capitalize">
                                Nos formules
                            </h2>
                        </div>
                    </div>
                    <div class="col-md-7 col-lg-8 pt-md-5">
                        <p>Afin de correspondre au mieux aux besoins de nos clients, nous vous proposons 3 formules qui
                            sont ajustables et modifiables autant que vous le souhaitez. Ainsi vous payerez que ce dont
                            vous aurez besoin avec un déménagement sur-mesure!</p>
                            <div class="mt-4 text-center">
                                <a class="button  button-primary" href="contact.html">Nous contacter</a>
                            </div>
                       
                    </div>
                </div>
            </div>
        </section>
        <section class="parallax-container" data-parallax-img="./assets/images/parallax-img-3.jpg">
            <div class="parallax-content section-md context-dark text-center bg-gray-700-filter-85">
                <div class="container">
                    <div class="row row-50 justify-content-center">

                        <div class="col-12">
                            <!-- Owl Carousel-->
                            <div class="owl-carousel" data-items="1" data-lg-items="3" data-dots="true" data-nav="false"
                                data-stage-padding="15" data-loop="false" data-margin="30" data-mouse-drag="false">
                                <div class="block-numbers">
                                    <div class="numb">
                                        <p class="heading-1">01</p>
                                    </div>
                                    <h4 class="block-title">Meilleur prix</h4>
                                    <div class="block-numbers-text">
                                        <p>Vous ne payerez pas de services inutiles</p>
                                    </div>
                                </div>
                                <div class="block-numbers">
                                    <div class="numb">
                                        <p class="heading-1">02</p>
                                    </div>
                                    <h4 class="block-title">QUALITE</h4>
                                    <div class="block-numbers-text">
                                        <p>Nos formules sont modifiables jusqu’à la J-2 de votre déménagement</p>
                                    </div>
                                </div>
                                <div class="block-numbers">
                                    <div class="numb">
                                        <p class="heading-1">03</p>
                                    </div>
                                    <h4 class="block-title">Meilleurs tarifs</h4>
                                    <div class="block-numbers-text">
                                        <p>Plus tôt est faite la réservation, plus vous aurez des tarifs avantageux</p>
                                         <p>{{site.phone}}.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="bg-default section-md">
            <div class="container">
                <div class="section-title text-center">
                    <h2>Pourquoi payer plus?</h2>
                    <p>
                        Fini les déménagements où l’on vous facture des services dont vous n’avez pas besoin.
                        L’entreprise Déménagement Pas Cher ne vous facturera que le NÉCESSAIRE!
                    </p>
                </div>

            </div>
        </section>

        <section style="display: none;" class="section section-md bg-default">
            <div class="container-fluid">
                <h4 class="text-center">
                    Nos offres sont adaptées à vos besoins!<br>
                    Déménagement Pas Cher vous propose 3 formules simples
                </h4>

                <div class="row">
                    <div class="col-md-4">
                      
                        <div class="price-container">

                            <h3 class="text-center">ECO+</h3>
                            <h4 class="text-center">790€</h4>
                         
                            
                            <ul class="list-marked">
                                <li>Location de camion à partir de 20m³ </li>
                                <li>Emballage et déballage des vêtements sous penderie</li>
                                <li>Démontage et remontage des meubles </li>
                                <li>Protection des meubles et électroménager</li>
                                <li>Protection des matelas, sommiers et canapés </li>
                                <li>Assurance comprise 15 000€ </li>
                                <li>Transport et manutention pour chargement et déchargement </li>
                            </ul>
                            <div class="mt-4 text-center">
                                <a class="button  button-primary" href="contact.html">Je réserve</a>
                            </div>
                       
                        
                        </div>
                    </div>
                    <div class="col-md-4">
                       
                        <div class="price-container">

                            <h3 class="text-center">CONFORT</h3>
                            <h4 class="text-center">890€</h4>
                            <h4 class="text-center">Formule ECO+</h4>
                            <ul class="list-marked">
                                
                                <li>Assurance comprise 30 000€</li>
                                <li>Emballage et déballage des biens fragiles </li>
                                <li>Emballage et déballage de la vaisselle fragile </li>
                                <li>Décrochage et raccrochage mural </li>
                            </ul>
                            <div class="mt-4 text-center">
                                <a class="button  button-primary" href="contact.html">Je réserve</a>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4">
                       
                        <div class="price-container">

                            <h3 class="text-center">PREMIUM</h3>
                            <h4 class="text-center">1090€</h4>
                            <h4 class="text-center">Formule CONFORT</h4>
                            <h1 class="text-center">+</h1>
                            <ul class="list-marked text-dark">
                                
                                <li>Assurance comprise 60 000€</li>
                              
                                <li>Débranchement des appareils électriques </li>
                                <li>Emballage de l’ensemble du contenu </li>
                            </ul>
                            <div class="mt-4 text-center">
                                <a class="button  button-primary" href="contact.html">Je réserve</a>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section class="two1 classique">
            <div class="hover3"></div>
                <div class="container">
               
                    <h3>  Nos offres sont adaptées à vos besoins! </h3>
                    <h2> Déménagement Pas Cher vous propose 3 formules simples</h2>
                  
                    <div class="div02"></div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="prices">
                                <div class="etoile"><i class="fa fa-star"></i></div>
                               
                                <h4>ECO+ </h4>
                                <div class="ligne1"></div>
                                <div class="price1">
                                    <h5 class="style2"><sub>à partir de</sub> 790€ <sup>TTC </sup> </h5>
                                </div>
                                <div class="div02"></div>
                                <ul class="details">
                                    <li>Location de camion à partir de 20m³   </li>
                                    <li>Emballage et déballage des vêtements sous penderie</li>
                                    <li>Démontage et remontage des meubles </li>
                                    <li>Protection des meubles et électroménager</li>
                                    <li>Protection des matelas, sommiers et canapés </li>
                                    <li>Assurance comprise 15 000€</li>
                                    <li>Transport et manutention pour chargement et déchargement </li>
                                </ul>
                                <div class="div02"></div>
                                <form role="form" method="post" action="devis">
                                    <input type="hidden" value="Eco" name="presta">
                                    <button class="button7">Je réserve</button>
                                </form>
                                <div class="div02"></div>
                            </div>
                        </div>
            
                        <div class="col-sm-4">
                            <div class="prices">
                                <div class="etoile"><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                                <h4>CONFORT  </h4>
                                <div class="ligne1"></div>
                                <div class="price1">
                                    <h5 class="style2"><sub>à partir de</sub> 890€ <sup>TTC </sup> </h5>
                                </div>
                                <div class="div02"></div>
                                <ul class="details">
                                    <li>Location de camion à partir de 20m³  </li>
                                    <li>Emballage et déballage des vêtements sous penderie</li>
                                    <li>Démontage et remontage des meubles</li>
                                    <li>Protection des meubles et électroménager</li>
                                    <li>Protection des matelas, sommiers et canapés </li>
                                    <li>Assurance comprise 30 000€</li>
                                    <li>Emballage et déballage des biens fragiles </li>
                                    <li>Emballage et déballage de la vaisselle fragile </li>
                                    <li>Décrochage et raccrochage mural </li>
            
                                </ul>
                                <div class="div02"></div>
                                <form role="form" method="post" action="devis">
                                    <input type="hidden" value="Confort" name="presta">
                                    <button class="button7">Je réserve</button>
                                </form>
                                <div class="div02"></div>
                            </div>
                        </div>
            
                        <div class="col-sm-4">
                            <div class="prices">
                                <div class="etoile"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                                <h4>PREMIUM  </h4>
                                <div class="ligne1"></div>
                                <div class="price1">
                                    <h5 class="style2"><sub>à partir de</sub> 1090€ <sup>TTC </sup> </h5>
                                </div>
                                <div class="div02"></div>
                                <ul class="details">
                                    <li>Location de camion à partir de 20m³    </li>
                                    <li>Emballage et déballage des vêtements sous penderie</li>
                                    <li>Démontage et remontage des meubles </li>
                                    <li>Protection des meubles et électroménager</li>
                                    <li>Protection des matelas, sommiers et canapés </li>
                                    <li>Assurance comprise 60 000€</li>
                                    <li>Emballage et déballage des biens fragiles </li>
                                    <li>Emballage et déballage de la vaisselle fragile </li>
                                    <li>Décrochage et raccrochage mural </li>
                                    <li>Débranchement des appareils électriques </li>
                                    <li>Emballage de l’ensemble du contenu </li>
            
                                </ul>
                                <div class="div02"></div>
                                <form role="form" method="post" action="devis">
                                    <input type="hidden" value="Premium" name="presta">
                                    <button class="button7">Je réserve</button>
                                </form>
                                <div class="div02"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        <section>
            <div class="row p-4 subscribe-form">
                <div class="col col-md-5 offset-md-2 col-sm-12"> 
                    <form role="form" method="post" action="mailto:marc@bhgroupe.fr">
                        <div class="row">
                            <div class="col col-lg-9 col-md-12 col-sm-12 pr-0">
                                <input class="form-control subscribe-email" type="text" name="" id="">
                            </div>
                            <div class="col col-lg-3 col-md-12 col-sm-12 pl-0">
                                <input type="submit" class="btn btn-block subscribe-button" value="Envoyer">
                            </div>

                        </div>
                        
                    </form>

                </div>
                <div class="col col-md-3 col-sm-12 text-center"> 
                    <p>
                        On vous rappelle immediatement
                    </p>

                </div>
                
                
            </div>
        </section>
        <!-- Footer-->
        {% include footer.html %}
    </div>
   