---
layout: default
permalink: /services
---

<div class="page">
    {% include navbarOther.html %}

    <section class="breadcrumbs-custom bg-image context-dark"
        style="background-image: url(./assets/images/demenagement.jpg);">
        <div class="container">
            <h4 class="breadcrumbs-custom-title">Services</h4>
            <ul class="breadcrumbs-custom-path">
                <li><a href="index.html">Home</a></li>
                <li class="active">Services</li>
            </ul>
        </div>
    </section>

    <section class="bg-default section-md section-relative">
        <div class="container">
            <div class="row row-30">
                <div class="col-md-5 col-lg-4">
                    <div class="section-title section-title-left">
                        <h2 class="text-capitalize">Why We Are the Award-Winning <span
                                class="text-italic text-primary">Law Firm</span>
                        </h2>
                    </div>
                </div>
                <div class="col-md-7 col-lg-8 pt-md-5">
                    <p>While the yearly number of cases which we take totals to an insurmountable number,
                        unparalleled by any other Houston, TX law firm, our percentage of wins is record-breaking
                        too… Just to drop some statistics here, in more than 9000 cases that we have ever taken on,
                        a whopping 98% of those (which is 9800+) were the cases which we eventually won…</p>
                    <div class="row row-30">
                        <div class="col-md-10 col-lg-6">
                            <!--Linear progress bar-->
                            <article class="progress-linear">
                                <div class="progress-linear-header">
                                    <p class="progress-linear-title">Business Law</p><span
                                        class="progress-linear-counter">85</span>
                                </div>
                                <div class="progress-linear-body">
                                    <div class="progress-linear-bar"></div>
                                </div>
                            </article>
                            <!--Linear progress bar-->
                            <article class="progress-linear">
                                <div class="progress-linear-header">
                                    <p class="progress-linear-title">Civil Litigation</p><span
                                        class="progress-linear-counter">70</span>
                                </div>
                                <div class="progress-linear-body">
                                    <div class="progress-linear-bar"></div>
                                </div>
                            </article>
                            <!--Linear progress bar-->
                            <article class="progress-linear">
                                <div class="progress-linear-header">
                                    <p class="progress-linear-title">Family Law</p><span
                                        class="progress-linear-counter">90</span>
                                </div>
                                <div class="progress-linear-body">
                                    <div class="progress-linear-bar"></div>
                                </div>
                            </article>
                        </div>
                        <div class="col-md-10 col-lg-6">
                            <!--Linear progress bar-->
                            <article class="progress-linear">
                                <div class="progress-linear-header">
                                    <p class="progress-linear-title">Insurance Service</p><span
                                        class="progress-linear-counter">90</span>
                                </div>
                                <div class="progress-linear-body">
                                    <div class="progress-linear-bar"></div>
                                </div>
                            </article>
                            <!--Linear progress bar-->
                            <article class="progress-linear">
                                <div class="progress-linear-header">
                                    <p class="progress-linear-title">Traffic Accidents</p><span
                                        class="progress-linear-counter">70</span>
                                </div>
                                <div class="progress-linear-body">
                                    <div class="progress-linear-bar"></div>
                                </div>
                            </article>
                            <!--Linear progress bar-->
                            <article class="progress-linear">
                                <div class="progress-linear-header">
                                    <p class="progress-linear-title">Patent Infringement</p><span
                                        class="progress-linear-counter">90</span>
                                </div>
                                <div class="progress-linear-body">
                                    <div class="progress-linear-bar"></div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="parallax-container" data-parallax-img="./assets/images/parallax-img-1.jpg">
        <div class="parallax-content section-md context-dark text-center bg-gray-700-filter-70">
            <div class="container">
                <div class="row row-50">
                    <div class="col-12">
                        <div class="section-title">
                            <h2>20 Years Of Experience In Various Cases</h2>
                            <p>We’re proud that our law firm offers top-notch legal services for a nationwide
                                affordable pricing! With us you’ll never feel like the lawyers are just robbers in
                                suits, besides, we win 98% of all cases. So with us, your chances of winning are as
                                high as they possibly can be!</p>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row row-30 row-bordered">
                            <div class="col-6 col-md-3">
                                <!-- Box counter-->
                                <article class="box-counter">
                                    <div class="box-counter-main heading-2">
                                        <div class="counter">1998</div>
                                    </div>
                                    <p class="box-counter-title">Year of <br>Establishment</p>
                                </article>
                            </div>
                            <div class="col-6 col-md-3">
                                <!-- Box counter-->
                                <article class="box-counter">
                                    <div class="box-counter-main heading-2">
                                        <div class="counter">547</div>
                                    </div>
                                    <p class="box-counter-title">Cases<br>Won</p>
                                </article>
                            </div>
                            <div class="col-6 col-md-3">
                                <!-- Box counter-->
                                <article class="box-counter">
                                    <div class="box-counter-main heading-2">
                                        <div class="counter">45</div><span>+</span>
                                    </div>
                                    <p class="box-counter-title">business<br>Partners</p>
                                </article>
                            </div>
                            <div class="col-6 col-md-3">
                                <!-- Box counter-->
                                <article class="box-counter">
                                    <div class="box-counter-main heading-2">
                                        <div class="counter">1500</div>
                                    </div>
                                    <p class="box-counter-title">Trusting<br>Clients</p>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-default section-md">
        <div class="container">
            <div class="section-title text-center">
                <h2>Our Legal Practice Areas</h2>
            </div>
            <div class="row row-30">
                <div class="col-sm-6 col-lg-4">
                    <div class="block-icon-modern">
                        <div class="icon-figure"><span class="icon icon-xl thin-icon-user"></span></div>
                        <div class="block-icon-caption">
                            <h4 class="block-icon-title"><a href="single-service.html">Family Law</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="block-icon-modern">
                        <div class="icon-figure"><span class="icon icon-xl thin-icon-briefcase-2"></span></div>
                        <div class="block-icon-caption">
                            <h4 class="block-icon-title"><a href="single-service.html">Business Law</a></h4>
                            <p>Cras adipiscing enim eu turpis egestas pretium aenean pharetra magna. Est ante in
                                nibh mauris cursus mattis.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="block-icon-modern">
                        <div class="icon-figure"><span class="icon icon-xl thin-icon-book"></span></div>
                        <div class="block-icon-caption">
                            <h4 class="block-icon-title"><a href="single-service.html">Civil Litigation</a></h4>
                            <p>Sed felis eget velit aliquet sagittis id. Erat pellentesque adipiscing commodo elit
                                at imperdiet. </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="block-icon-modern">
                        <div class="icon-figure"><span class="icon icon-xl thin-icon-umbrella"></span></div>
                        <div class="block-icon-caption">
                            <h4 class="block-icon-title"><a href="single-service.html">Insurance Defence</a></h4>
                            <p>Massa placerat duis ultricies lacus sed turpis tincidunt id. Vitae nunc sed velit
                                dignissim sodales ut eu. </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="block-icon-modern">
                        <div class="icon-figure"><span class="icon icon-xl thin-icon-home"></span></div>
                        <div class="block-icon-caption">
                            <h4 class="block-icon-title"><a href="single-service.html">Land &amp; Asset</a></h4>
                            <p>Diam in arcu cursus euismod quis viverra nibh cras pulvinar. Et pharetra pharetra
                                massa</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="block-icon-modern">
                        <div class="icon-figure"><span class="icon icon-xl thin-icon-money"></span></div>
                        <div class="block-icon-caption">
                            <h4 class="block-icon-title"><a href="single-service.html">Finance Law</a></h4>
                            <p>Integer feugiat scelerisque varius morbi enim. Nunc non blandit massa enim nec dui
                                nunc mattis.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="block-icon-modern">
                        <div class="icon-figure"><span class="icon icon-xl thin-icon-love"></span></div>
                        <div class="block-icon-caption">
                            <h4 class="block-icon-title"><a href="single-service.html">Medical Law</a></h4>
                            <p>Aenean pharetra magna ac placerat vestibulum. Ipsum suspendisse ultrices gravida
                                dictum fusce. </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="block-icon-modern">
                        <div class="icon-figure"><span class="icon icon-xl thin-icon-planet"></span></div>
                        <div class="block-icon-caption">
                            <h4 class="block-icon-title"><a href="single-service.html">Trust &amp; Estates</a></h4>
                            <p>Habitasse platea dictumst vestibulum rhoncus est. Diam ut venenatis tellus in metus
                                vulputate. </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="block-icon-modern">
                        <div class="icon-figure"><span class="icon icon-xl thin-icon-pointer"></span></div>
                        <div class="block-icon-caption">
                            <h4 class="block-icon-title"><a href="single-service.html">Personal Injury</a></h4>
                            <p>Magnis dis parturient montes nascetur ridiculus mus mauris vitae ultricies. Et magnis
                                dis </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="parallax-container" data-parallax-img="./assets/images/parallax-img-4.jpg">
        <div class="parallax-content section-md context-dark text-center bg-gray-700-filter-70">
            <div class="container">
                <div class="row row-30 justify-content-center">
                    <div class="col-12">
                        <div class="section-title">
                            <h2>We Assure You that You Will Win<span class="d-block heading-1 text-italic">No Win.
                                    No Fee</span></h2>
                        </div>
                    </div>
                    <div class="col-md-8 col-lg-6">
                        <p>Vitae nunc sed velit dignissim sodales ut eu. Sed vulputate odio ut enim blandit
                            volutpat. Diam in arcu cursus euismod quis viverra nibh cras pulvinar. </p><a
                            class="button  button-primary" href="#">Free Consultation </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="bg-default section-md">
        <div class="container">
            <div class="row row-50 justify-content-center">
                <div class="col-12">
                    <div class="section-title text-center">
                        <h2>Request a Free Legal Consultation</h2>
                    </div>
                </div>
                <div class="col-12 col-lg-9">
                    <!-- RD Mailform-->
                    <form class="rd-mailform text-left row row-20" data-form-output="form-output-global"
                        data-form-type="contact" method="post" action="bat/rd-mailform.php">
                        <div class="col-sm-6 col-lg-4">
                            <div class="form-wrap">
                                <label class="form-label" for="contact-name">Your Name * </label>
                                <input class="form-input" id="contact-name" type="text" name="name"
                                    data-constraints="@Required">
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="form-wrap">
                                <label class="form-label" for="contact-email">Your Email * </label>
                                <input class="form-input" id="contact-email" type="email" name="email"
                                    data-constraints="@Email @Required">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-wrap">
                                <label class="form-label" for="contact-phone">Your Phone </label>
                                <input class="form-input" id="contact-phone" type="text" name="phone"
                                    data-constraints="@Numeric @Required">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-wrap">
                                <label class="form-label" for="contact-message">Your Message * </label>
                                <textarea class="form-input" id="contact-message" name="message"
                                    data-constraints="@Required"></textarea>
                            </div>
                            <div class="form-button text-center">
                                <button class="button button-primary " type="submit">Send
                                    Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer-->
    {% include footer.html %}
</div>
   