---
layout: default
permalink: /test
---
<div class="page">

    {% include navbarOther.html %}

    <section class="breadcrumbs-custom bg-image context-dark"
        style="background-image: url(./assets/images/demenagement.jpg);">
        <div class="container">
            <h4 class="breadcrumbs-custom-title">Nos zones d'intervention</h4>
            <ul class="breadcrumbs-custom-path">
                <li><a href="index.html">Accueil</a></li>
                <li class="active">Nos zones d'intervention</li>
            </ul>
        </div>
    </section>

<section class="two1 classique">
    <div class="hover3"></div>
        <div class="container">
            <h3>Nos tarifs </h3>
            <h2>Les meilleurs prix pour un déménagement partout en France !  </h2>
            <p class="text-center">Vous trouverez ci-dessous quelques exemples de formules. Toutes nos formules sont modifiables et adaptables selon vos besoins professionnels ou particuliers.  </p>
            <div class="div02"></div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="prices">
                        <div class="etoile"><i class="fa fa-star"></i></div>
                        <h4>ECO+ </h4>
                        <div class="ligne1"></div>
                        <div class="price1">
                            <h5 class="style2"><sub>à partir de</sub> 790€ <sup>TTC </sup> </h5>
                        </div>
                        <div class="div02"></div>
                        <ul class="details">
                            <li>Location de camion à partir de 20m³   </li>
                            <li>Emballage et déballage des vêtements sous penderie</li>
                            <li>Démontage et remontage des meubles </li>
                            <li>Protection des meubles et électroménager</li>
                            <li>Protection des matelas, sommiers et canapés </li>
                            <li>Assurance comprise 15 000€</li>
                            <li>Transport et manutention pour chargement et déchargement </li>
                        </ul>
                        <div class="div02"></div>
                        <form role="form" method="post" action="devis">
                            <input type="hidden" value="Eco" name="presta">
                            <button class="button7">Je réserve</button>
                        </form>
                        <div class="div02"></div>
                    </div>
                </div>
    
                <div class="col-sm-4">
                    <div class="prices">
                        <div class="etoile"><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                        <h4>CONFORT  </h4>
                        <div class="ligne1"></div>
                        <div class="price1">
                            <h5 class="style2"><sub>à partir de</sub> 890€ <sup>TTC </sup> </h5>
                        </div>
                        <div class="div02"></div>
                        <ul class="details">
                            <li>Location de camion à partir de 20m³  </li>
                            <li>Emballage et déballage des vêtements sous penderie</li>
                            <li>Démontage et remontage des meubles</li>
                            <li>Protection des meubles et électroménager</li>
                            <li>Protection des matelas, sommiers et canapés </li>
                            <li>Assurance comprise 30 000€</li>
                            <li>Emballage et déballage des biens fragiles </li>
                            <li>Emballage et déballage de la vaisselle fragile </li>
                            <li>Décrochage et raccrochage mural </li>
    
                        </ul>
                        <div class="div02"></div>
                        <form role="form" method="post" action="devis">
                            <input type="hidden" value="Confort" name="presta">
                            <button class="button7">Je réserve</button>
                        </form>
                        <div class="div02"></div>
                    </div>
                </div>
    
                <div class="col-sm-4">
                    <div class="prices">
                        <div class="etoile"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                        <h4>PREMIUM  </h4>
                        <div class="ligne1"></div>
                        <div class="price1">
                            <h5 class="style2"><sub>à partir de</sub> 1090€ <sup>TTC </sup> </h5>
                        </div>
                        <div class="div02"></div>
                        <ul class="details">
                            <li>Location de camion à partir de 20m³    </li>
                            <li>Emballage et déballage des vêtements sous penderie</li>
                            <li>Démontage et remontage des meubles </li>
                            <li>Protection des meubles et électroménager</li>
                            <li>Protection des matelas, sommiers et canapés </li>
                            <li>Assurance comprise 60 000€</li>
                            <li>Emballage et déballage des biens fragiles </li>
                            <li>Emballage et déballage de la vaisselle fragile </li>
                            <li>Décrochage et raccrochage mural </li>
                            <li>Débranchement des appareils électriques </li>
                            <li>Emballage de l’ensemble du contenu </li>
    
                        </ul>
                        <div class="div02"></div>
                        <form role="form" method="post" action="devis">
                            <input type="hidden" value="Premium" name="presta">
                            <button class="button7">Je réserve</button>
                        </form>
                        <div class="div02"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!-- Footer-->
{% include footer.html %}
</div>